* {
    margin: 0;
    box-sizing: border-box;   
} 
body{
    background-color: rgb(14, 6, 1);
}

.container{
    border: 1px solid rgb(43, 42, 41);
    width: 600px;
    margin: auto;
    background-color: white;
}


/* header */
.header{
    width: 600px;
    height: 167px;
    margin: auto;
    background-image: url('images/hamburger.png');
    color: white;  

}

.h-content-holder{
    padding: 50px;
}
.header-title{
    margin: 0;
}

.header-content{    
    margin-top: 5px;
}

/* menu items */
.menu{
    width: 600px;
    margin: auto;
    padding: 30px ;
   
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    padding: 30px 0;
    border-bottom: 0.1px solid rgb(212, 207, 207);
       
}
.menu-img{
    font-size: 60px;
}
.menu-content > h3, p{
    margin: 0;
}
.menu-content .menu-ingredient{
    font-size: 12px;
    color: grey;
    margin-top: 3px;
}
.menu-content .menu-price{
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}
.menu-add{
    color: rgb(138, 81, 8);
    font-size: 25px;
}

.menu-add:hover{
    color: orange;
}

.menu-minus{
    /* color: orange; */
    margin-right: 8px;
}
.menu-minus:hover{
    color: red;
}
.menu-icon{
    margin-left: auto;
    cursor: pointer;
}

/* payout section */

.payout{
  width: 600px;
  margin: auto;
  margin-top: 10px;
  
}
.payout-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: larger;
}
.btn-holder{
  text-align:center;
}

.btn-p{
  padding: 8px 30px;
  background: saddlebrown;
  border: 2px solid rgb(138, 81, 8); 
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}

.payout-total{
  display: flex;
  justify-content: space-between;
  margin: 10 40px;
  padding: 20 8px;
  font-size: 18px;
  font-weight: bold;
  border-top: 2px solid gray;
}
.payout-menu{
  display: flex;
  align-items: center;
  margin: 5px 40px;
  padding: 6px 5px 6px 9px;
  gap: 10px;
}

.pm-total{
    margin-left: auto;
}

.pta-holder{
  display:flex;
  
}
.pm-name{
    font-weight: bold;
    font-size: 18px;
}

.pm-remove{
    font-size: 12px;
    cursor: pointer;
}
.pm-remove:hover{
    color: red;
}
.unshow{
    display: none;
}

/* modal */

.modal-con{
  display: none;    /*flex on complete order click*/
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  
  
}
.modal{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;  
  width: 400px;
  height: 400px;
  border: 2px solid saddlebrown;
  padding: 20px;
  background: floralwhite;
  box-shadow: 0 12px 80px 40px rgba(0, 0, 0, 0.4), 0 6px 90px 80px  rgba(0, 0, 0, 0.19);;
}
.modal-title{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    
}

.modal-close{
    position: absolute;
    top: 10;
    right: 10;
    font-size: 25px;
    cursor: pointer;
}
.modal-close:hover{
    color: sandybrown;
}
.modal-form{
  display: flex;
  flex-direction: column;
}
input[type='text'], input[type='number']{
  padding:8px 10px;
  margin-bottom: 8px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid saddlebrown;
}
.form-input::placeholder{
    opacity: 40%;
    color: rgb(39, 19, 4);
    font-size: 14px;
    padding: 5px;
}
.form-input::placeholder{
    opacity: 40%;
    color: rgb(37, 18, 4);
    font-size: 14px;
    padding: 5px;
}

input[type='submit']{
  margin-top: 10px;
  background: saddlebrown;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* Final appreciation message */
.appreciation{
    background-color: rgb(199, 129, 79);
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    color: rgb(241, 236, 236);
    text-align: center;
    font-size: 18px;
}

/* darkness */
.dark-container{
    background-color: #221911;
    color: rgb(226, 218, 218);
}
.darkness{
    width: 60px;
    background-color: white;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 10;
    right: 30;
}
.inner-dark{
    height: 30px;
    background-color: rgb(61, 25, 3);
    width: 50%;
    border-radius: 50%;
    
}

.darkness-dark{
    background-color: rgb(61, 25, 3);
}
.dark-mode{
    margin-left: auto;
    background-color: white;
}

.light-brown{
    color: rgb(240, 209, 168);
}
.dark-modal{
    color: white;
    background-color: #221911;
    border: 2px solid rgb(153, 141, 122);
}

.dark-input{
    background-color:#221911; 
    color: rgb(219, 210, 200);
    outline: none;
    border: 2px solid whitesmoke;
    
}
.dark-input::-webkit-input-placeholder {
    color: white;
}
