*,body {
    margin: 0;
    box-sizing: border-box;
} 

/* header */
.header{
    width: 600px;
    height: 167px;
    margin: auto;
    background-image: url('images/hamburger.png');
    color: white;  

}

.h-content-holder{
    padding: 50px;
}
.header-title{
    margin: 0;
}

.header-content{    
    margin-top: 5px;
}

/* menu items */
.menu{
    width: 600px;
    margin: auto;
    padding: 30px ;
   
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    padding: 30px 0;
    border-bottom: 0.1px solid rgb(212, 207, 207);
       
}
.menu-img{
    font-size: 60px;
}
.menu-content > h3, p{
    margin: 0;
}
.menu-content .menu-ingredient{
    font-size: 12px;
    color: grey;
    margin-top: 3px;
}
.menu-content .menu-price{
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}
.menu-add{
    color: rgb(138, 81, 8);
    font-size: 25px;
}
.menu-icon{
    margin-left: auto;
    cursor: pointer;
}
/* payout section */

.payout{
  width: 600px;
  margin: auto;
  margin-top: 30px;
  
}
.btn-h{
  text-align:center;
}

.btn-p{
  padding: 8px 20px;
  background: white;
  border: 2px solid rgb(138, 81, 8); 
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
}
.payout-total{
  display: flex;
  justify-content: space-between;
  margin: 10 40px;
  padding: 20 8px;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;   
}
.payout-menu{
  display: flex;
  justify-content: space-between;
  margin: 5px 40px;
  padding: 10px 5px 10px 9px;
}

